.header {
  display: inline-block;
  border-radius: 15px;
  opacity: 0.85;
}
.description {
  display: inline-block;
  border-radius: 15px;
  opacity: 0.85;
}
/*Fix logo shape*/
.logo{
  border-radius: 10rem;
}
