.header {
  display: inline-block;
  border-radius: 15px;
  opacity: 0.85;
}
.description {
  display: inline-block;
  border-radius: 15px;
  opacity: 0.85;
}
/*Fix logo shape*/
.logo{
  border-radius: 10rem;
}
.container {
  position: relative;
  height: 105px;
}

.wavy-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  background: linear-gradient(180deg, #ffb74d, transparent);
  transform: skewX(-20deg);
  z-index: -1;
}