
/*Control the header in the welcome page*/
.large-header{
  font-size: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
/*Fix logo shape*/
.logo{
  border-radius: 100rem;
}